body {
  padding: 200px;
  background: linear-gradient(0deg, rgba(19, 41, 61, 1) 0%, rgba(237, 245, 249, 1) 100%);

}

.header {
  color: black;
  font-size: 50px;
  text-decoration: underline;
}

.questions {
  font-size: 40px;
  color: rgb(255, 255, 255);
  font: bold;

}

.choice {
  background-color: khaki;
  border-style: solid;
  border-radius: 20px;
  font-size: 20px;
  margin: 2px;
}

.score {
  font-size: 25px;
  color: black;
}

#start {
  font-size: 20px;
  background-color: khaki;
  border-style: solid;
  border-radius: 20px;
  margin-bottom: 30px;
}

article {
  display: inline-block;
  padding: 200px;
  text-align: center;
  background: #c07070;
  color: #fff;
  border-bottom: 50px #879274;

}

#quiz-container {
  text-align: center;
}



#timer {
  font-size: 30px;
  font: bold;
  color: black;
}


#initials {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 25px;
  color: rgb(161, 0, 0);

}

/* tried making a cool border around my final answers but kept having issues with pushing into other areas other
page for some reason, will work with tutor and try and come up with a solution*/

#score {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 25px;
  color: rgb(161, 0, 0);
  border-radius: 2px;
}